html, body {
    box-sizing: border-box;
    background-color: #000;
    color: rgb(145, 169, 180);
    font-family: sans-serif;
    margin: 0;
    font-family: 'Asap Condensed', sans-serif;
}

body {
    padding: 0 20px 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(50,60,100,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
    z-index: 100;
}

.header-inner {
    width: 100%;
    padding: 10px 20px;
}

h1 {
    display: inline-block;
    margin: 0;
    font-weight: 900;
    line-height: 1em;
    font-family: 'Poppins', sans-serif;
}

.reset-time {
    margin-right: 20px;
}

#reset-time {
    margin-left: 5px;
    color: #fff;
}

.btn-about {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none ;
    border: none;
    padding: 5px;
    float: right;
}

.btn-about img {
    width: 30px;
}

.note {
    width: 100%;
    padding: 5px 20px;
    color: #fff;
    background-color: rgba(250, 50, 0, 0.25);
    box-sizing: border-box;
}

.warning {
    width: 100%;
    padding: 5px 20px;
    color: #fff;
    background-color: rgba(200, 50, 0, 0.5);
    box-sizing: border-box;
}

#offsetWarning,
#noShard,
#shard {
    display: none;
}

#noShard {
    background-color: rgba(255, 207, 0, 0.25);
}

.shard-black {
    /* background-color: rgba(230, 202, 255, 0.25); */
    background-color: rgba(11, 26, 51, 0.7);
}

#timeline {
    display: block;
    position: relative;
    margin-top: 75px;
    z-index: 1;
    /* background-color: #111; */
}

#timeline:not(.show-aurora) .hour-col:nth-of-type(4) {
    display: none;
}

.hour-slot {
    display: flex;
    position: relative;
    border: 1px solid #333;
    background-color: #111;
    min-height: 120px;
    font-size: 13px;
}

/* .hour-slot:first-child {
    border-radius: 10px 10px 0 0;
}

.hour-slot:nth-last-child(2) {
    border-radius: 0 0 10px 10px;
} */

.hour-slot::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0px;
    border: 0.5px dashed #333;
}

.partial-day .hour-slot 
+ .hour-slot 
+ .hour-slot 
+ .hour-slot 
+ .hour-slot {
    opacity: 0.75;
}

.partial-day .hour-slot 
+ .hour-slot 
+ .hour-slot 
+ .hour-slot 
+ .hour-slot
.event {
    opacity: 0.75;
}

.partial-day .hour-slot 
+ .hour-slot 
+ .hour-slot 
+ .hour-slot 
+ .hour-slot 
+ .hour-slot {
    opacity: 0.6;
}

.partial-day .hour-slot 
+ .hour-slot 
+ .hour-slot 
+ .hour-slot 
+ .hour-slot
+ .hour-slot
.event {
    opacity: 0.6;
}

.hour-past {
    opacity: 0.75;
}
.hour-past .event {
    opacity: 0.75;
}

#current-time {
    position: absolute;
    width: 100%;
    margin-top: -1px;
    height: 2px;
    background-color: rgb(231, 3, 129);
    border-radius: 1px;
    transition: 0.3s;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
    z-index: 200;
}

#current-time::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -4px;
    width: 8px;
    height: 8px;
    background-color: rgb(231, 3, 129);
    border-radius: 50%;
}

.hour-col {
    position: relative;
    /* flex: 0 1 auto; */
    flex: 1;
    padding: 0 5px;
    box-sizing: border-box;
}

.hour-label {
    width: 50px;
    padding-right: 20px;
}

.event {
    position: absolute;
    top: 0;
    /* left: 20%; */
    color: #fff;
    background-color: rgb(33, 109, 128);
    box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.1);
    border-radius: 3px;
    padding: 0 5px;
    /* width: calc(20% - 15px); */
    width: calc(100% - 10px);
    
    min-height: 5px;
    font-size: 16px;
    /* min-width: 90px; */
    box-sizing: border-box;
    z-index: 5;
}

.event .description {
    font-size: 12px;
    font-style: oblique;
    line-height: 1em;
    opacity: 0.75;
}

.event .realm {
    margin-top: 20px;
    font-size: 13px;
    line-height: 1em;
}

.event .area {
    margin-top: 5px;
    font-size: 12px;
    line-height: 1em;
    opacity: 0.75;
}

/* .event:last-of-type {
    margin-left: 5px;
} */

.event + .event {
    z-index: 4;
}


.event + .event + .event {
    z-index: 3;
}


.event + .event + .event + .event {
    z-index: 2;
}

.event-icon {
    display: inline-block;
    width: 1em;
    margin-right: 4px;
    vertical-align: sub;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.25);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    opacity: 0;
    transition: 0.3s;
    padding: 20px;
    box-sizing: border-box;
    pointer-events: none;
}

.modal-show {
    pointer-events: all;
}

.modal-body {
    position: relative;
    padding: 20px;
    width: calc(100% - 40px);
    /* background-color: rgba(50, 51, 62, 0.75); */
    background-color: rgba(50,60,100,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
    border-radius: 10px;
    color: #fff;
}

.modal h1 {
    display: block;
    margin-bottom: 0.5em;
    color: #92a9b4;
}

.modal button {
    background-color: transparent;
    color: #92a9b4;
    border: 2px solid #92a9b4;
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 30px;
}

.modal button:hover,
.modal button:focus {
    background-color: #92a9b4;
    color: #000;
    border: 2px solid #92a9b4;
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 30px;
}

@media only screen and (max-width: 450px) {
    html, body {
        padding: 10px;
    }

    .hour-label {
        width: 40px;
        padding-right: 5px;
    }

    /* .event,
    .event:last-of-type {
        width: calc(80% - 20px);
        margin-left: 0%;
    }

    .event:first-of-type {
        margin-left: 0;
    } */
}